{% extends 'layout.twig' %}
{% block maincontent %}
<h2>Welcome {{ signed_user.screen_name }}</h2>
<h3>Enter up to 5 users.</h3>
<section id="list_users">
	<figure id="user_1" class="users_figure">
		{% set picture = '/images/default-user.png' %}
		<img src="{{ user.picture|default( app.request.getBasePath ~ picture ) }}"
			width="48" heigth="48" alt="{{ user.name|default('user name') }}" />
		<p>
			<figcaption>{{ user.name|default('user name') }}</figcaption>
			<em>Followers: {{ user.followers|default(0) }} / Followings: {{ user.followings|default(0) }}</em>
		</p>
		<form action="{{ app.request.getBasePath }}/send" method="post" class="ajax_request">
            <input type="hidden" name="action" id="action" value="search" />
			<p>
				<input type="search" name="search[name]" value="" id="user_search"
					autofocus="autofocus" required="required" pattern="^@\w{1,15}" />
			</p>
		</form>
	</figure>
	<form action="{{ app.request.getBasePath }}/send" method="post" class="ajax_request">
        <input type="hidden" name="action" id="action" value="compare" />
		<input type="hidden" name="compare[users][]" value="" id="compare_users_0" required="required" />
		<p>
			<label id="type_followers">
				Followers
				<input type="radio" name="compare[type][]" value="followers" id="type_followers" checked="checked" />
			</label>
			<label for="type_followings">
				Followings
				<input type="radio" name="compare[type][]" value="followings" id="type_followings" />
			</label>
		</p>
		<p><input type="submit" value="Compare!"></p>
	</form>
</section>
{% endblock maincontent %}