<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<title>Compare your friends</title>

		<link rel="stylesheet" href="{{ app.request.getBasePath }}/css/main.css" type="text/css" media="screen" title="main css" charset="utf-8">
		<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/themes/base/jquery-ui.css" type="text/css" media="screen" charset="utf-8">

		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" charset="utf-8"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js" charset="utf-8"></script>
		<script type="text/javascript" src="{{ app.request.getBasePath }}/js/compareModule.js" charset="utf-8"></script>
		<script type="text/javascript" src="{{ app.request.getBasePath }}/js/searchModule.js" charset="utf-8"></script>
		<script type="text/javascript" src="{{ app.request.getBasePath }}/js/userList.js" charset="utf-8"></script>
		<script type="text/javascript" src="{{ app.request.getBasePath }}/js/forms.js" charset="utf-8"></script>
		<script type="text/javascript" src="{{ app.request.getBasePath }}/js/main.js" charset="utf-8"></script>
	</head>
	<body>
        <div id="loading" style="display: none;"><p>Waiting...</p><p></p></div>
		<div id="main" class="ui-helper-reset">
			<header>
				{% block header %}
				<h1>Compare followers/followings between users.</h1>
				{% endblock header %}
			</header>
			<section>
				{% block maincontent %}
				<p>default content.</p>
				{% endblock maincontent %}
			</section>
			<footer>
				{% block footer %}
				<p>
					<em>This project uses HTML5 and CSS3 so you need a modern browser to show it correctly.</em>
				</p>
				<p>
					<em>Project developed by
						<a href="http://www.aramirez.es" rel="external">aramirez.es</a>.
						Public repository in
						<a href="http://www.github.com/aramirez-es/Compare-follows" rel="external">Github</a>
					</em>
				</p>
				{% endblock footer %}
			</footer>
		</div>
        {% include 'ga.twig' %}
	</body>
</html>