{% for users in 0..4 %}
    <figure class="users_figure"{% if loop.first == false %} style="display: none;"{% endif %}>
		{% set picture = '/images/default-user.png' %}
		<img src="{{ user.picture|default( app.request.getBasePath ~ picture ) }}"
			width="48" heigth="48" alt="{{ user.name|default('user name') }}" />
			<figcaption>{{ user.name|default('user name') }}</figcaption>
			<em>Followers: {{ user.followers|default(0) }} / Followings: {{ user.followings|default(0) }}</em>
		<form action="{{ app.request.getBasePath }}/search-user" method="post" class="ajax_request">
            <input type="hidden" name="action" value="search" />
            <input type="hidden" name="search[box]" value="{{ loop.index }}" />
			<p>
				<input type="search" name="search[name]" value="" autofocus="autofocus"
					required="required" pattern="^@?\w{1,15}" />
			</p>
		</form>
	</figure>
{% endfor %}